.comment{
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.avatar{
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox{
  flex: 1;/* this will take all the remaining space */
}

.commentContent{
  background-color: var(--gray-700);
  padding: 1rem;
  border-radius: 8px;
}

.commentContent header{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* .authorAndTime{
  display: flex;
  flex-direction: column;
} */

/*ou o de cima, ou o de baixo*/

.authorAndTime strong{
display: block;
font-size: 0.875rem;
line-height: 1.6rem;
}


.authorAndTime time{
display: block;
font-size: 0.75rem;
line-height: 1.6rem;
color: var(--gray-400);
}

.commentContent header button{
  background: transparent;
  border: 0;
  color: var(--gray-400);
  line-height: 0;
  cursor: pointer;
  border-radius: 8px;
}
.commentContent header button:hover{
  color: var(--red-500);
}

.commentContent p{
  margin-top: 1rem;
  color: var(--gray-300);
}

.comment footer{
  margin-top: 1rem;
}

.comment footer button{
  background: transparent;
  border: 0;
  color: var(--gray-400);
  line-height: 0;
  cursor: pointer;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.comment footer button span::before{
  content: '\2022';
  padding: 0 0.25rem 0 0; ;
}